{% load staticfiles %}
{% load wetten_extras %}
<!Doctype html>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" href="{% static 'wetten/doc.css' %}" />
<link rel="stylesheet" href="{% static 'wetten/superfish.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'wetten/superfish.js' %}"></script>
<script src="{% static 'wetten/doc.js' %}"></script>
<style>
	
</style>
</head>

<body>

<div id="menubar_container">
	<ul class="sf-menu" id="menubar">
		<li><a href="#">Wetten</a>
			<ul>
				{% for bwb in bwb_links %}
				<li><a href="{{ bwb.2 }}" title="{{ bwb.0 }}">{{ bwb.1 }}</a></li>
				{% endfor %}
			</ul>
		</li>
		<li><a href="#" id="options">Opties</a>
			<ul>
				<li><a href="#">Tijdreis bereik</a>
					<ul>
						<li><a href="#" title="Versies vergelijken op alineaniveau" onclick="setVersionScope('alinea')">
								Alinea niveau
							</a>
						</li>
						<li><a href="#" title="Versies vergelijken op artikelniveau of hoger" onclick="setVersionScope('artikel')">
								Artikel niveau of hoger
							</a>
						</li>
					</ul>
				</li>
				<li><a href="#" id="maxResultsInfo">Aantal resultaten</a>
					<ul>
						<li><a href="#" title="Toon maximaal 5 resultaten" number="5" class="maxResultSetter">
							Vijf resultaten
							</a>
						</li>
						<li><a href="#" title="Toon maximaal 10 resultaten" number="10" class="maxResultSetter">
							Tien resultaten
							</a>
						</li>
						<li><a href="#" title="Toon maximaal 20 resultaten" number="20" class="maxResultSetter">
							Twintig resultaten
							</a>
						</li>
						<li><a href="#" title="Toon alle resultaten" number="0" class="maxResultSetter">
							Alle resultaten
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li id="cs_li"><a href="#" id="current_selection">Selectie: geen</a>
		</li>
	</ul>
</div>

<div id="focus_version_picker" title="Klik om alle versies te tonen">{{ dateInfo }}</div>

<div id="root_container" title="Klik om nuttige bronnen bij dit document/artikel te vinden">
{{ metalexXML|safe }}
</div>

<div id="sort_methods">
	<div id="method0" class="selected_sort" title="In degree">Methode 1</div>
	<div id="method1" title="Degree centrality">Methode 2</div>
	<div id="method2" title="Betweenness centrality">Methode 3</div>
</div>

<div id="info_container">
	<div id="extra_info">
		<div class="info_title">Belangrijke bronnen in deze wet:</div>
		<div class="important_for_bwb sort0" id="imp0">
			Laden...
		</div>
		
		<div class="important_for_bwb sort1" id="imp1" style="display:none">
		</div>
		
		<div class="important_for_bwb sort2" id="imp2" style="display:none">
		</div>

		<div class="info_title">Belangrijke interne bronnen voor selectie:</div>
		<div class="internal sort0">
		Klik in ergens in het geraadpleegde document om belangrijke citerende en geciteerde documenten op te halen.
		</div>
		<div class="internal sort1" style="display:none">
		Klik in ergens in het geraadpleegde document om belangrijke citerende en geciteerde documenten op te halen.
		</div>
		<div class="internal sort2" style="display:none">
		Klik in ergens in het geraadpleegde document om belangrijke citerende en geciteerde documenten op te halen.
		</div>

		<div class="info_title">Belangrijke externe bronnen voor selectie:</div>
		<div class="external sort0">
		Klik in ergens in het geraadpleegde document om belangrijke citerende en geciteerde documenten op te halen.
		</div>
		<div class="external sort1" style="display:none">
		Klik in ergens in het geraadpleegde document om belangrijke citerende en geciteerde documenten op te halen.
		</div>
		<div class="external sort2" style="display:none">
		Klik in ergens in het geraadpleegde document om belangrijke citerende en geciteerde documenten op te halen.
		</div>
		
		<div class="info_title">Tijdreizen – andere versies voor selectie:</div>
		<div id="timetravel">
		Het niveau waarop naar eerdere en/of latere versies gezocht wordt kan in het menu
		bij "Tijdreis bereik" ingesteld worden.
		</div>
	</div>
</div>

<div id="close_button" style="background-image:url({% static 'wetten/Close_button.png' %})" title="Venster sluiten"></div>
<div id="detail_version_picker" title="Klik om alle versies te tonen" style="display:none">Huidige versie: 1 september 2011 – Dit is voor details!</div>
<div id="result_details" style="display: none;"></div>

<div id="versions_popup" style="display: none;" title="Verberg">
	<div id="focus_versions" title="Selecteer versie">
		{% for date in dates %}

		{% if date == current %}
			<div class="f_version">
					{{ date }} – huidige versie
			</div>
		{% else %}
			<a class="f_version" href="{{ expressions|get:date }}" target="_blank" title="Open in nieuw venster">
					{{ date }}
			</a>
	
		{% endif %}

		{% endfor %}
	</div>
	<div id="detail_versions" style="display: none;" title="Selecteer versie">
	</div>
</div>

</body>
</html>