{% load staticfiles %}
{% load wetten_extras %}
<!Doctype html>
<html>
<head>
<title>Test page</title>
<link rel="stylesheet" href="{% static 'wetten/doc.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'wetten/doc.js' %}"></script>
<style>
	
</style>
</head>

<body>

<div id="bwb_index">
	{% for bwb in bwb_links %}
		<a href="{{ bwb.2 }}" title="{{ bwb.1 }}" class="bwb_link">{{ bwb.0 }}</a>
	{% endfor %}
</div>

<div id="root_container" title="Klik om nuttige bronnen bij dit document/artikel te vinden">
{{ metalexXML|safe }}
</div>

<div id="info_container">
	<div id="extra_info">
	
		<div class="info_title">Belangrijke bronnen in deze wet:</div>
			<div id="important_for_bwb">

			{% if entities %}
				{% for entity in entities %}
					<div title="Klik om te lezen" class="result" entity="{{ entity }}">{{ descriptions|get:entity }}</div>
				{% endfor %}
			{% else %}
				<p>Geen bronnen in citatienetwerk voor opgegeven BWB nummer.</p>
			{% endif %}
			</div>

		<div class="info_title">Belangrijke interne bronnen voor selectie:</div>
			<div id="internal">
			Klik in ergens in het geraadpleegde document om belangrijke documenten op te halen.
			</div>

		<div class="info_title">Belangrijke externe bronnen voor selectie:</div>
			<div id="external">
			Klik in ergens in het geraadpleegde document om belangrijke documenten op te halen.
			</div>
	</div>
</div>

<div id="result_details" style="display: none">
	<div id="close_details">Klik hier om dit venster te sluiten.</div>
</div>

</body>
</html>