body {
    width: 100%;
    min-width: 1200px;
    background-color: #FFFDE8;
    font-family: verdana;
}

#current_selection {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    border-top: none;
    padding-top: 8px;
}

#cs_li {
    background-color: #FFF2C7;
    width: 480px;
    text-overflow: ellipsis;
}

#cs_li:hover, #current_selection:hover {
    cursor: default;
}

#cs_li:hover, #current_selection:hover {
    cursor: default;
}

#info_container {
    height: 750px;
    width: 95%;
    max-width: 700px;
    min-width: 300px;
    position:  fixed;
    left: 800px;
    top: 57px;
    font-family: verdana;
    font-size: 80%;
}

.info_title {
    color: #FC7708;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 5px;
    margin-left: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.result_title {
    font-size: 110%;
    font-style: italic;
    margin-bottom: 5px;
}

#extra_info {
    padding: 5px;
    padding-top: 0px;
}

#result_details {
    display: block;
    margin-left: 20px;
    width: 700px;
    height: 340px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 485px;
    left: 0px;
    padding: 5px;
    padding-left: 1em;
    padding-right: 1em; 
    background-color: #FFF2C7;
    border-radius: 1px;
    font-family: verdana;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}

.intref:hover, .extref:hover {
    text-decoration: underline;
    cursor: pointer;
}

#close_button:hover {
    cursor: pointer;
    opacity: .5;
}

#close_button {
    display: none;
    position: fixed;
    left: 735px;
    top: 470px;
    width: 30px;
    height: 30px;
    z-index: 1000;
}

.important_for_bwb, .internal, .external, #timetravel {
    width: auto;
    height: 162px;
    padding: 1px;
    overflow-y: auto;
    background-color: #FAD57D;
    border-radius: 1px;
    margin-bottom: 12px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}

#menubar_container {
    position: fixed;
    left: 20px;
    z-index: 800;
}

#sort_methods {
    position: fixed;
    left: 800px;
    width: 700px;
    min-width: 300px;
    max-width: 700px;
    padding: 0px;
    font-size: 90%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

#sort_methods div {
    width: 33%;
    background-color: #FAD57D;
    float: left;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

#sort_methods div:hover {
    background-color: #FFF2C7;
    cursor: pointer;
}

#method1 {
    border-left: 1px solid #FFF2C7;
    border-right: 1px solid #FFF2C7;
}

.selected_sort {
    background-color: #FFF2C7 !important;
}

.result, .selected_result, .bwb_link, .f_version, .d_version, .nb {
    background-color: #FAD57D;
    border-radius: 1px;
    border-bottom: 1px solid #FFF2C7;
    padding: 5px;
    color: black;
    text-decoration: none;
    min-height: 25px;
}

.result:hover, .selected_result, .bwb_link:hover, .f_version:hover, .d_version:hover {
    background-color: #FFF2C7;
    cursor: pointer;
}

.result span, .selected_result span {
    vertical-align: middle;
}

#versions_popup {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: verdana;
    font-size: 80%;
    z-index: 1200;
}

#focus_versions, #detail_versions {
    margin: auto;
    width: 250px;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    top: 200px;
    position: relative;
    text-align: left;
}

#focus_version_picker:hover, #detail_version_picker:hover {
    background-color: #FFF2C7;
    cursor: pointer;
}

#focus_version_picker, #detail_version_picker {
    font-size: 80%;
    position: fixed;
    left: 20px;
    background-color: #FAD57D;
    padding: 3px;
    border-radius: 1px;
}

#detail_version_picker {
    top: 455px;
}

#focus_version_picker {
    top: 50px;
}

.f_version, .d_version {
    padding-bottom: 0px;
    display: block;
}

.open_bwb {
    text-decoration: underline;
    color: black;
    font-size: 90%;
}

#root_container root:hover {
    cursor: pointer;
}

#root_container {
    display: block;
    margin-left: 20px;
    width: 700px;
    height: 745px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    padding-left: 1em;
    padding-right: 1em; 
    background-color: #FFF2C7;
    border-radius: 1px;
    position: fixed;
    left: 0px;
    top: 80px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}

source_root, root { 
    width: 690px;
    line-height: 130%;
    text-align: justify;
}

hcontainer { 
    margin-top: 1em; 
    display: block;
}


block, htitle { 
    display: block; 
    font-family: verdana; 
    font-size: 80%; 
    clear: both;
}

htitle { 
    font-size: 120%;
    font-family: "Trebuchet MS";
    margin: 2em 0 1em 0;
}

block[class="intitule"] { 
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 140%; 
    line-height: 150%;
    margin: 1em 0 1em 0 ; 
}

block[class="lidnr"], block[class="li.nr"] { 
    clear: left; 
}

container {
    display: block;
}

container[class="lid"] block[class="al"], container[class="lid"] container[class="li"] { 
    position: relative;
    left: 3em;
    top: -1.6em;
    padding-right: 3em;
}

mcontainer+container[class="li"] {
    margin-top: 1em;
}
container[class="li"] block[class="al"], container[class="li"] container[class="li"] {
    position: relative;
    left: 2em;
    top: -1.6em;
    padding-right: 2em;
}

container[class="table"] {
    display: table;
    font-size: 90%;
    margin: 2em 0 1em 0;
}
container[class="thead"] {
    font-weight: bolder;
    display: table-header-group;
}

container[class="tbody"] {
    display: table-row-group;
}

container[class="row"] {
    display: table-row;
    clear: both;
}

container[class="entry"] {
    display: table-cell;
    padding: .5em;
}

milestone[class="colspec"] {
    display: table-column;
}

inline[class="label"], inline[class="nr"] {
    font-weight: bold;
}

inline[class="titel"] {
    font-size: 90%;
    margin: 1em 0 1em 0;
    display: block;
}

inline[class="sup"] {
    font-size: xx-small;
    vertical-align: top;
}

inline[class="sub"] {
    font-size: xx-small;
    vertical-align: bottom;
}

inline[class="extref"]:hover, inline[class="intref"]:hover {
    text-decoration: underline;
}

inline[class="extref"], inline[class="intref"] {
    color: #FC7708;
}
