/* 
Style sheet for Superfish dropdown menu.
See: http://users.tpg.com.au/j_birch/plugins/superfish/
*/

.sf-menu, .sf-menu * {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 11pt;
}
.sf-menu li {
    position: relative;
}
.sf-menu ul {
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 99;
}
.sf-menu > li {
    float: left;
}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
    display: block;
}
.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu ul ul {
    left: 100%;
    top: 0;
}
.sf-menu {
    float: left;
    margin-bottom: 1em;
}
.sf-menu ul {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    min-width: 12em;
}
.sf-menu a {
    border-left: 1px solid #FFF2C7;
    border-top: 1px solid #FFF2C7;
    padding: 7px 10px;
    text-decoration: none;
}
.sf-menu a {
    color: black;
}
.sf-menu li {
    background: none repeat scroll 0 0 #FAD57D;
    transition: background 0.2s ease 0s;
    white-space: nowrap;
}
.sf-menu ul li {
    background: none repeat scroll 0 0 #FAD57D;
}
.sf-menu ul ul li {
    background: none repeat scroll 0 0 #FAD57D;
}
.sf-menu li:hover, .sf-menu li.sfHover {
    background: none repeat scroll 0 0 #FFF2C7;
    transition: none 0s ease 0s;
}
.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
}
.sf-arrows .sf-with-ul:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent;
    border-image: none;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 1em;
    top: 50%;
    width: 0;
}
.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: white;
}
.sf-arrows ul .sf-with-ul:after {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
    margin-right: -3px;
    margin-top: -5px;
}
.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: white;
}
